@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.coin-box,
.project-box {
  width: 436px;
  height: 643px;
  max-width: 436px;
  border-radius: 25px;
  border: 1px solid rgb(64, 61, 63);
  margin-bottom: 15px;
  background: linear-gradient(90deg, rgb(24, 1, 16) 0%, rgb(22, 1, 16) 50%, rgb(20, 1, 16) 100%);
  box-shadow: rgb(255, 255, 255) 0px 2px 20px;
}


.text-neon {
  font-size: 24px;
  color: #00ffdd;
  text-shadow: 0 0 10px #00ffdd, 0 0 20px #00ffdd, 0 0 30px #00ffdd, 0 0 40px #00ffdd, 0 0 50px #00ffdd, 0 0 60px #00ffdd, 0 0 70px #00ffdd;
}

/* Slanted Fonts */
.animation-delay-1 {
  animation-delay: 0.5s;
}

.animation-delay-2 {
  animation-delay: 1s;
}

.animation-delay-3 {
  animation-delay: 1.5s;
}

/* Animation */
@keyframes neon {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.logo-div-bottom {
  position: fixed;
  left: 50%;
  bottom:10px;
}

/* Responsive CSS for mobile view */
@media screen and (max-width: 480px) {

  textarea[name="desc"] {
    display: none;
    }

  .coin-box,
  .project-box,
  .nft-box {
    width: 80%;
    max-width: 100%;
    height: 550px;
    margin: 0 auto;
  }

  .coin-box,
  .project-box,
  .nft-box,
  .text-neon {
    font-size: 16px;
  }

  .menu-div {
    margin-top: 20px;
  }

  .logo-div {
    display: none;
  }

  .logo-div-bottom {
    display: fixed;
    bottom: 0;
    left: 25%;
  }

  .connect-div {
    margin-top: 10px;
  }

  .global-box {
    padding-top: 150px;
  }

  .global-box-globe {
    padding-top: 5px;
  }

}

@media screen and (min-width: 480px) {
    input[name="desc"] {
        display: none;
      }

  .logo-div-bottom {
    display: none;
  }
}
